html {
    font-size: 14px;
    position: relative;
    min-height: 100%
}

@media (min-width: 768px) {
    html {
        font-size: 16px
    }
}

body {
    background: url(../img/thebird/header-sm.jpg);
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.button {
    border-color: #fff;
    background-color: #0a0a0a;
    color: #fff
}

    .button:active {
        border-color: #ff131c;
        color: #ff131c
    }

.box-shadow {
    -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.05);
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.05)
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit
}

header {
    height: 60px;
    padding: 10px 10px 20px;
    background: linear-gradient(to top, transparent, rgba(255,255,255,0.4) 4px, transparent 8px)
}

    header img {
        margin-right: 10px;
        height: 40px
    }

    header .navbar {
        background: transparent
    }

    header .navbar-brand {
        height: 45px
    }

    header .navbar-menu {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
        background-image: linear-gradient(#ccc, #fff);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px
    }

    header .navbar-burger {
        color: #fff;
        border: 2px solid rgba(255,255,255,0.4);
        border-radius: 5px;
        height: 3em;
        width: 3em
    }

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all
}

main {
    height: calc(100% - 160px);
    font-family: Arial, serif;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.5)), color-stop(10%, transparent));
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), transparent 10%)
}

#ident_1 {
    padding: 0 10px
}

#ident_2 {
    position: absolute;
    width: 100%
}

.beliebt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 10px !important;
    height: 40px
}

    .beliebt button {
        margin: 0 5px 10px 5px
    }

.categories, #categorySlider .content .group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

    .categories > div, #categorySlider .content .group > div {
        text-align: center;
        color: #fff !important;
        margin: 0 5px 10px 5px;
        width: 90px
    }

    .categories button, .categories a > div, #categorySlider .content .group button, #categorySlider .content .group a > div {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
        background-image: linear-gradient(#ccc, #fff);
        border: none;
        height: 80px !important;
        width: 80px !important;
        padding: 0
    }

    .categories p, #categorySlider .content .group p {
        font-size: 14px;
        color: white;
        text-align: center;
        margin-top: 3px
    }

.categories, #categorySlider {
    height: calc(100% - 60px);
    margin: 10px;
    position: relative
}

.categories {
    overflow: scroll
}

#categorySlider .content {
    position: relative;
    margin: unset
}

    #categorySlider .content .group {
        position: absolute;
        top: 0;
        width: 100%
    }

#categorySlider {
    display: none;
    overflow: hidden
}

    #categorySlider .pagination {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20px;
        padding-bottom: 10px
    }

        #categorySlider .pagination span {
            width: 10px;
            height: 10px;
            border: 1px solid #fff;
            border-radius: 50%;
            margin: 5px 10px
        }

            #categorySlider .pagination span.active {
                background-color: #fff
            }

.scrollme {
    height: 100%;
    position: relative
}

    .scrollme .head {
        width: 100%;
        min-height: 40px;
        border-bottom: 1px solid #fff
    }

        .scrollme .head a {
            font-size: 28px;
            padding: 0 14px 0px 12px;
            color: #fff
        }

        .scrollme .head h2 {
            margin: 0;
            display: inline
        }

    .scrollme .body {
        overflow: scroll;
        height: calc(100% - 40px)
    }

        .scrollme .body form {
            padding: 0 15px
        }

            .scrollme .body form > p {
                margin-top: 20px;
                margin-bottom: 30px;
                color: #fff
            }

            .scrollme .body form > .price {
                text-align: right;
                font-weight: bold;
                color: #fff;
                margin-top: -20px
            }

footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 100px;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 5px;
    color: #fff
}

footer .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-bottom: 1px solid #fff
}

    footer .menu a {
        color: #fff
    }

    footer .menu p {
        text-align: center;
        font-size: 12px
    }

footer .status {
    padding: 0 5px
}

.button-footer {
    width: 47px;
    height: 45px;
    margin: 0 5px;
    padding: 5px;
    border: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
    background-image: linear-gradient(#ccc, #fff);
    color: #000;
    text-align: center;
    vertical-align: central
}

    .button-footer.active {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f44), to(red));
        background-image: linear-gradient(#f44, red)
    }

.radioWrapper, .checkboxWrapper {
    color: #fff;
    padding: 15px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    cursor: pointer
}

    .radioWrapper.veggie label:before, .checkboxWrapper.veggie label:before {
        content: "";
        width: 15px;
        height: 15px;
        display: inline-block;
        margin-right: 5px;
        position: relative;
        top: 3px;
        background-color: #fff;
        background-image: url(/img/vegan.png);
        background-size: 100%;
        border-radius: 50%
    }

    .radioWrapper *, .checkboxWrapper * {
        cursor: pointer
    }

    .radioWrapper em, .checkboxWrapper em {
        font-size: 20px;
        width: 22px;
        margin-right: 10px
    }

        .radioWrapper em.fa-check, .checkboxWrapper em.fa-check {
            display: none
        }

    .radioWrapper input, .checkboxWrapper input {
        display: none
    }

    .radioWrapper label, .checkboxWrapper label {
        font-weight: bold;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: calc(100% - 40px)
    }

    .radioWrapper p, .checkboxWrapper p {
        width: 100%;
        text-align: right
    }

    .radioWrapper .price, .checkboxWrapper .price {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: right
    }

    .radioWrapper.active, .checkboxWrapper.active {
        background: rgba(255,255,255,0.7);
        color: #000
    }

        .radioWrapper.active em, .checkboxWrapper.active em {
            display: none
        }

            .radioWrapper.active em.fa-check, .checkboxWrapper.active em.fa-check {
                display: inline;
                color: green
            }

        .radioWrapper.active p, .checkboxWrapper.active p {
            color: #000 !important
        }

.radioGroup {
    -webkit-box-shadow: 2px -2px 1px #ff131c;
    box-shadow: 2px -2px 1px #ff131c;
    margin-bottom: 30px;
    margin-top: 20px
}

.checkboxWrapper {
    -webkit-box-shadow: 2px -2px 1px #fff;
    box-shadow: 2px -2px 1px #fff;
    margin-bottom: 30px
}

button.buy {
    background: #ff131c;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    height: auto;
    margin-bottom: 15px
}

    button.buy span {
        padding: 0 4px
    }

.quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px
}

    .quantity h2 {
        margin: 0 !important;
        font-size: 1.5em
    }

    .quantity > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #fff;
        line-height: 150;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

        .quantity > div input {
            padding: 10px 0;
            font-size: 18px;
            text-align: center;
            width: 3em
        }

        .quantity > div em {
            margin: 0 10px;
            font-size: 20px;
            cursor: pointer
        }

.categoryGroup {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%
}

.categoryGroup-left {
    width: 20px;
    margin: 10px 6px 10px 14px
}

.categoryGroup-left-rot {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 10px 10px;
    transform-origin: 10px 10px;
    color: white;
    font-size: 16px;
    line-height: 0.9;
    font-weight: 600;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif
}

.categoryGroup-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%
}

    .categoryGroup-list a, .categoryGroup-list a:link, .categoryGroup-list label {
        color: #fff;
        text-decoration: none
    }

    .categoryGroup-list > a,
    .categoryGroup-list > label {
        width: 50%;
        position: relative;
        border-bottom: 1px solid #fff;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), to(#000));
        background-image: linear-gradient(transparent 40%, #000) ;
        border-right: 1px solid #fff
    }


        .categoryGroup-list > a.veggie::before,
        .categoryGroup-list > label.veggie::before {
            content: "";
            width: 25px;
            height: 25px;
            display: block;
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: #fff;
            background-image: url(/img/vegan.png);
            background-size: 100%;
            border-radius: 50%
        }

    .categoryGroup-list p {
        text-align: center;
        position: absolute;
        bottom: 10px;
        width: 100%;
        padding: 0 10px;
        font-weight: bold
    }

    .categoryGroup-list .placeholder {
        padding-top: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60%;
        opacity: 0.3
    }
    
@-webkit-keyframes rotate {
    5% {
        -webkit-transform: rotate3d(0, 1, 0, 45deg);
        transform: rotate3d(0, 1, 0, 45deg)
    }

    8% {
        -webkit-transform: rotate3d(0, 1, 0, 90deg);
        transform: rotate3d(0, 1, 0, 90deg)
    }

    11% {
        -webkit-transform: rotate3d(0, 1, 0, 45deg);
        transform: rotate3d(0, 1, 0, 45deg)
    }

    16% {
        -webkit-transform: rotate3d(0, 1, 0, 0deg);
        transform: rotate3d(0, 1, 0, 0deg)
    }
}

@keyframes rotate {
    5% {
        -webkit-transform: rotate3d(0, 1, 0, 45deg);
        transform: rotate3d(0, 1, 0, 45deg)
    }

    8% {
        -webkit-transform: rotate3d(0, 1, 0, 90deg);
        transform: rotate3d(0, 1, 0, 90deg)
    }

    11% {
        -webkit-transform: rotate3d(0, 1, 0, 45deg);
        transform: rotate3d(0, 1, 0, 45deg)
    }

    16% {
        -webkit-transform: rotate3d(0, 1, 0, 0deg);
        transform: rotate3d(0, 1, 0, 0deg)
    }
}
